*.log
.coveralls.yml
*.pyc
.coverage
.tox
.pytest_cache
.ipynb_checkpoints
.executed_notebooks
coverage.xml
python-docs-samples.json
service-account.json
client-secrets.json
__pycache__
*db\.sqlite3
**/migrations/*
lib
secrets.tar
.cache
junit.xml
credentials.dat
.nox
.vscode/
*sponge_log.xml
.DS_store
env/
.idea
.env*